<launch>
  <include file="$(find vicon_bridge)/launch/vicon.launch" />
    <arg name="config_topics" default="$(find follow_ahead_rl)/config/twist_mux_topics.yaml"/>  
  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
    <remap from="/joy" to="/teleop/joy" />
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="autorepeat_rate" value="10" />
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <remap from="cmd_vel_out" to="cmd_vel"/>

        <rosparam file="$(arg config_topics)" command="load"/>
    </node>

  <node pkg="topic_tools" type="mux" name="mux" args="sel_cmdvel auto_cmdvel teleop_cmd_vel" output="screen"/>
  
  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node">
    <remap from="joy" to="teleop/joy" />
    <remap from="cmd_vel" to="teleop_cmd_vel" />
    <param name="enable_button" value="1" />
  </node>

</launch>
